*
.vim/.netrwhist
!.vim
!.vim/**
!.vim/**/*
.vim/bundle
.vim/plugged
.vim/session
!.vimrc
!.bash_profile
!.bashrc
!.gitignore
!.gitmodules
!.git
!setup.sh
!.tmux.conf
!.tmuxhelp.txt
!.ctags
!bootstrap_vm.sh
